h1 {
    text-align: center;
    text-decoration: underline;
    color: green;
    font-size: 40px;
    text-transform: uppercase;
}

h2 {
    color: magenta;
}

p {
    font-weight: lighter;
    font-style: italic;
    font-family: avant garde;
    line-height: 2;
    color: rgb(10, 10, 10);
}

button {
    color: red;
    background-color: rgb(235, 119, 52);
}